<!DOCTYPE html>
<html>
  <head>
      {%load staticfiles %}
    <meta charset="utf-8">
    <title>Busqueda Restaurantes</title>
  </head>
  <body>
    <div class="header">
      <!-- aqui va la barra superior donde viene el tituo, nombre restaurante, etc. -->
    </div>
    <div class="restaurantes_cerca">
      <ul>
         <!-- aqui va e listado de restaurantes que se generaran mediante la consulta -->
         <li class="restaurante"></li>
      </ul>
    </div>
    <a href="index.html">Volver a la pagina principal</a>
  </body>
</html>
